html {
    font-size: 1em;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    header {
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        padding: 25px;
    }
    

    
    p {
        padding-bottom: 15px;
        background-color: #3e8de3;
        box-sizing: content-box;
        box-shadow: #3e8de3;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
    
    body {
        font-family: sans-serif;
        
    }
    
   
    
    a:hover {
        color: #d7f803;
    }
    
    a.anchor{
        display: block; 
        position: relative; 
        top: -250px;
        visibility: hidden;}
    
    
    
    #logo-container img {
        text-align: center;
        display: inline-flex;
        bottom: 0;
        width: 45%;
        
    }
    
     #menu {
        font-size: large;
        font-family: sans-serif;
        box-sizing: content-box;
        box-shadow: inset;
        
    } 
    #menu ul {
        
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        background-color: #ffffff;
        color: #ffffff;

    
    }
    
    #menu li {
        display: inline-block;
        padding: 15px;
        margin-left: 25px;
        color: #3e8de3;
    
    }
    
    #menu a {
        color: #3e8de3;
        text-decoration: none;
        
    }
    
    #menu a:hover {
       color: #d7f803
    }
    
    .content {
        width: 65%;
        display: inline-block;
        margin-left: 25px;
        font-family: sans-serif;
        
        
    }
    
    .about-me {
        
        
        font-family: monospace;
        box-sizing: content-box;
        width: 900px;
        border: 15px solid rgb(255, 140, 0);
        padding: 50px 50px;
        margin: 25px;
        
        
        
        
    }
    
    .about-me h2 {
        text-indent: 0;
        margin-bottom: 5px;
        
        color: #141413;
        
    }
    
    .about-me img {
        width: 35%;
        height: 30%;
        float: right;
        padding-right: 25px;
        margin: auto;
        position: relative;
        bottom: 65px;
        
                
        
        
        
    }
    
    .about-me text {
        float: right;
        text-align: center;
        padding: 25px;
        font-size: small;
        background-color: #3e8de3;
        box-sizing: content-box;
        position: relative;
        left: 100px;

        
    }
    
    .about-me span {
        color: rgb(255, 128, 0);
    }
    
    .projects {
        margin: 50px;
        padding: 50px;
        width: 120%;
        height: 100%;
        font-family: sans-serif;
        background-color: #3e8de3;
        color: #120101;
        
        
    }
    
    .projects h2 {
        text-decoration: underline;
        font-family: serif;
        font-size: x-large;
        font-weight: 400px;

    }
    
    .projects img {
        width: 25%;
        height: 20%;
        display: inline-block;
        
    }
    
    .thumbnail { 
        top: -50px; 
        left: -35px; 
        display: block; 
        z-index: 999; 
        cursor: pointer; 
        
        } 
    
    .thumbnail:hover { 
        transform: scale(1.15);
    }
    
    
    .projects ul {
        display: inline-block;
        margin-top: 15px;
        
    }
    
    .projects li {
        display: inline;
        list-style-type: none;
        padding-right: 50px;
        padding-top: 25px;
        cursor: pointer;
       
    }
    
    .contact {
        margin: 50px;
        padding: 50px;
        width: 75%;
        height: 50%;
        font-family: sans-serif;
        right: 100px;
        
        
        
    }
    
    .contact h2 {
        text-decoration: underline;
    }
    
    
    
    .column {
        float: right;
        width: 50px;
        padding: 50px;
        position: relative;
        left: 80px;
        
        
        
      }
      
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
    
    
      .footer {
        background-color: #ffffff;
        text-align: center;
        padding: 10px;
        position: relative;
        left: 200px;
      }
    

     .button {
        position: relative;
        left: 900px;
        box-sizing: border-box;
        box-shadow: #3e8de3;
        color: #3e8de3;
        background-color: #3e8de3;

     }

     .button a:hover {
        color: #d7f803;
     }

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    
      @media screen and (max-width: 800px) {
        .left, .main, .right {
            width: 100%;
        }
         
    
        }

        @media screen and (max-width: 500px) {
            .about-me img {
                width: 100%;
            }
          }
    
          @media screen and (max-width: 500px) {
            .column {
              width: 100%;
            }
          }